tests/demo_cpp
tests/demo_c
tests/demo_appss
tests/grog

cutlery/fork
cutlery/spoon
cutlery/knife
cutlery/knork
cutlery/newknork
cutlery/simpleknork

pipeline-class/main

manual-pipeline/av-test/manual_test
manual-pipeline/fs-test/manual_test
manual-pipeline/fs-test/working
manual-pipeline/class-test/class-test

**/output*
